.VerticalNav{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  position: static;
  width: 15vw;
  height: 75vh;
  text-align: center;
}
.VerticalNav .self-image{
  max-width: 150px;
  border: 3px solid #FFA400;
  border-radius: 50%;
}
.VerticalNav hr {
  width: 100%;
  height: 2px;
  border: 0;
  border-top: 1px solid #FFA400;
  padding: 0;
  margin: 1em 0;
}

.Link {
  color: #FFA400;
  width: 100%;
  border: none;
  margin-bottom: 2vh;
  background-color: #2e323d;
  font-size: 18px;
  font-family: monospace;
  vertical-align: middle;
  text-align: center;
  height: 5vh;
  line-height: 5vh;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.Link {
  color: #FFA400; 
  text-decoration: none;
}
.Link:hover {
  background-color: #4c5161;
  color: #FFF;
}
.Link:focus 
{ 
  text-decoration: none; 
  color:#FFF; 
}

.media-icon-wrapper {
  margin-top: auto;
  margin-bottom: 3vh;
  justify-self: flex-end;
  flex-direction: row;
  height: 32px;
}
.media-icon {
  height: 32px;
}

/*# sourceMappingURL=vertical-nav.css.map */
