$primary-color: #ffb26b;

.VerticalNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid $primary-color;
    padding: 3em;

    img {
        width: 256px;
        border: 3px solid $primary-color;
        border-radius: 50%;
    }

    hr {
        width: 100%;
        height: 2px;
        border: 0;
        border-top: 1px solid $primary-color;
        padding: 0;
        margin: 1em 0;
    }
}