.App {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
}
body {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #2e323d;
  color: #FFA400;
  font-family: monospace;
}
h1, h2, h3{
  color: #fff;
}
.vertical-hr{
  margin: 5vh 0 0 0;
  align-self: center;
  border: none;
  border-left: 1px solid #FFA400;
  height: 90vh;
  width: 1px;
}

/*# sourceMappingURL=App.css.map */