$primary-bgcolor: #2e323d;
$primary-textcolor: #ffb26b;

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    background-color: $primary-bgcolor;
    color: $primary-textcolor;
}

.App {
    margin: 0;
    display: -webkit-box;
    flex-flow: row nowrap;
    width: 20vw;
}